.gradient {
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(57, 57, 57, 1) 9%, rgba(83, 83, 83, 1) 13%, rgba(103, 103, 103, 1) 16%, rgba(116, 116, 116, 1) 17%, rgba(122, 122, 122, 0.8262954840139181) 19%, rgba(105, 105, 105, 0.8066876408766632) 23%, rgba(71, 71, 71, 1) 100%);
}

.card_gradient {
    background: rgb(5, 5, 5);
    background: linear-gradient(0deg, rgba(5, 5, 5, 1) 0%, rgba(3, 3, 3, 0.6694327389158788) 34%, rgba(0, 0, 0, 0) 100%);
}

.menu_gradient {
    background: rgb(5, 5, 5);
    background: linear-gradient(0deg, rgba(5, 5, 5, 1) 0%, rgba(0, 0, 0, 0) 100%);
}

.two_line {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 1.2;
    max-height: 2.4em;
}